*{
    font-family: 'Jost';
}

.frame3{
    background-color: #F0C0DA;
    margin: 0 auto;
    height: 1270px;
    width: auto;
}
.div_white{
    height: 1270px;
    width: 742px;
    background-color: white;
    float: left;
    margin-left: 75px;
}

.img_pink{
    float: right;
    height: 500px;
    width: 550px;
    margin-top: 450px;
    margin-right: 250px;
}

.p1{
    /* 4 МІСЯЦІ, 50 ЗАНЯТЬ СТАРТ: 7.05 4.06 */
    position: absolute;
    width: 273px;
    height: 69px;
    right: 1100px;
    top: 33px;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 35px;
    text-align: right;
    color: #32BAA0;
}

.line{
/* Rectangle 12 */

    position: absolute;
    width: 618px;
    height: 2px;
    left: 143px;
    top: 489px;
    background: #32BAA0;

}

.p2{
    /* ДИСТАНЦІЙНИЙ КУРС СТАНДАРТ */
    position: absolute;
    width: 474px;
    height: 115px;
    left: 188px;
    top: 122px;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 58px;
    letter-spacing: 0.22em;
    color: #000000;
}

.p3{
    /* 3 зан/ тижд. 1 год 30 хв 2 Communication Classes: Пн/Ср або Вт/чт 1. Grammar Class: Пт або Сб Графік: 8:10 19:10 19:50 | 10:50 | 15:00 | 16:40 | 18:20 | 20:00 1 рівень 1 курс */

    position: absolute;
    width: 566px;
    height: 144px;
    left: 188px;
    top: 300px;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 29px;
    color: #000000;
}
.p4{
    /* ДИСТАНЦІЙНО: онлайн курс англійської можна пройти з будь-якої точки світу ЕФЕКТИВНО: цілий рівень за 4 місяці навчання в групах в атмосфері реального заняття у класі ВИГІДНО: 133 грн за 1 год навчання ТЕХНОЛОГІЧНО: навчання в групах за програмою власного інтерактивного підручника обез на платформі Sтагтя, відпрацюванн Smarte+ ЗРУЧНО: керування нанням у додатку My Green Forest домашні завдання, успішність, тести, анна графіку, запис на клуби, підручник, сертифікат, бонуси і оплата ПРОФЕСІЙНО: більше 200 сучасних викладачів, які регулярно прокачують свою експертність в Green Forest Teaching Centre by Nadia Diachuk БЕЗКОШТОВНІ БОНУСИ: доступ до підручника Notes і онлайн тренажера Smarte+, 40 год занять для самостійного навчання, розмовні клуби з носіями мови щотижня */

    position: absolute;
    width: 588px;
    height: 633px;
    left: 188px;
    top: 532px;
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    line-height: 140%;
    /* or 27px */
    color: #000000;
}

.price{
    /* 10500 */

    position: absolute;
    width: 239px;
    height: 82px;
    left: 188px;
    top: 1000px;
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 76px;
    color: #000000;
    }

.value{
/* грн/курс */

position: absolute;
width: 154px;
height: 33px;
left: 205px;
top: 1100px;
font-style: normal;
font-weight: 700;
font-size: 32px;
line-height: 37px;
color: #000000;
}    

.button{
/* Rectangle 6 */

    position: absolute;
    width: 237px;
    height: 85px;
    left: 489px;
    top: 1090px;
    background: #1CB65A;
    border-radius: 40px;

}

.p5{
    /* Записатись */

    position: absolute;
    width: 158px;
    height: 46px;
    left: 45px;
    top: -15px;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 46px;
    color: #000000;
}

.frame4{
    background-color: #32B89E;
    margin: 0 auto;
    height: 1270px;
    width: auto;
}

.img_green{
    float: left;
    height: 700px;
    width: 550px;
    margin-top: 350px;
    margin-left: 250px;
}

.div_white2{
    height: 1270px;
    width: 742px;
    background-color: white;
    float: right;
    margin-right: 75px;
}

.p6{
    /* 9 ТИЖНІВ, 36/18 ЗАНЯТЬ СТАРТ: 12-17.05 | 9-14.06  */
    position: absolute;
    width: 345px;
    height: 105px;
    left: 1400px;
    top: 1294px;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 35px;
    text-align: right;
    color: #37BCA6;
}

.line2{
    /* Rectangle 13 */

    position: absolute;
    width: 644px;
    height: 2px;
    left: 1130px;
    top: 1749px;
    background: #32BAA0;
}

.p7{
    /* ДИСТАНЦІЙНИЙ КУРС ІНТЕНСИВ */

    position: absolute;
    width: 474px;
    height: 129px;
    left: 1130px;
    top: 1399px;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 58px;
    letter-spacing: 0.22em;
    color: #000000;
}

.p8{
    /* У БУДНІ 4 зан/ тижд. 1 год 50 хв | Пн - Чт 8:10 | 10:10 | 12:10 | 16:10 | 18:10 | 20:10 або У ВИХІДНІ 2 зан. / тижд. * 3 год 40 хв Сб-Нд на 11:00 1 рівень = 1 курс */

    position: absolute;
    width: 566px;
    height: 239px;
    left: 1130px;
    top: 1580px;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 29px;
    color: #000000;
}

.p9{
    /* 1 ДИСТАНЦІЙНО: онлайн курс англійської можна пройти з будь-якої точки світу 2 ЕФЕКТИВНО: цілий рівень за 9 тижнів навчання в групах в атмосфері реального заняття у класі 3 ВИГІДНО: 138 грн за 1 год навчання 4 ТЕХНОЛОГІЧНО: навчання в групах за програмою власного інтерактивного підручника Notes на платформі Smarte, відпрацювання лексики і граматики в Smarte+ 5 ЗРУЧНО: керування навчанням у додатку My Green Forest: домашні завдання, успішність, тести, зміна графіку, запис на клуби, підручник, сертифікат, бонуси і оплата 6 ПРОФЕСІЙНО: більше 200 сучасних викладачів, які регулярно прокачують свою експертність в Green Forest Teaching Centre by Nadia Diachuk 7.БЕЗКОШТОВНІ БОНУСИ: доступ до підручника Notes i онлайн-тренажера Smarte+, 40 год занять для самостійного навчання, розмовні клуби з носіями мови щотижня */

    position: absolute;
    width: 635px;
    height: 675px;
    left: 1130px;
    top: 1780px;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 29px;
    color: #000000;
}

.price2{
    /* 10500 */

    position: absolute;
    width: 239px;
    height: 82px;
    left: 1194px;
    top: 2300px;
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 76px;
    color: #000000;

}

.value2{
    /* грн/курс */

    position: absolute;
    width: 154px;
    height: 33px;
    left: 1213px;
    top: 2400px;
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 37px;
    color: #000000;
}

.button2{
    /* Rectangle 6 */
    position: absolute;
    width: 237px;
    height: 85px;
    left: 1500px;
    top: 2380px;
    background: #1CB65A;
    border-radius: 40px;
}

.p10{
    /* Записатись */

    position: absolute;
    width: 158px;
    height: 46px;
    left: 46px;
    top: -13px;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 46px;
    color: #000000;

}

.frame5{
    background-color: #2377D9;
    margin: 0 auto;
    height: 1270px;
    width: auto;
}

.img_blue{
    float: right;
    height: 750px;
    width: 550px;
    margin-top: 450px;
    margin-right: 250px;
}

.div_white3{
    height: 1270px;
    width: 742px;
    background-color: white;
    float: left;
    margin-left: 75px;
}

.line3{
/* Rectangle 13 */

    position: absolute;
    width: 618px;
    height: 2px;
    left: 143px;
    top: 3030px;
    background: #32BAA0;

}

.p11{
    position: absolute;
    width: 273px;
    height: 69px;
    right: 1100px;
    top: 2613px;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 35px;
    text-align: right;
    color: #32BAA0;
}

.p12{
    position: absolute;
    width: 474px;
    height: 115px;
    left: 188px;
    top: 2722px;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 58px;
    letter-spacing: 0.22em;
    color: #000000;
}

.p13{
    position: absolute;
    width: 566px;
    height: 144px;
    left: 188px;
    top: 2900px;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 29px;
    color: #000000;
}

.p14{
    
    position: absolute;
    width: 588px;
    height: 633px;
    left: 188px;
    top: 3072px;
    font-style: normal;
    font-weight: 500;
    font-size: 19px;
    line-height: 140%;
    color: #000000;
}

.line_decl{
    /* Rectangle 7 */

    position: absolute;
    width: 125px;
    height: 4px;
    left: 167px;
    top: 3683px;
    background: #B4B4B4;
    transform: rotate(-22.3deg);
}

.old_price{
    /* 6500 */
    position: absolute;
    width: 198px;
    height: 58px;
    left: 187px;
    top: 3623px;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    color: #B4B4B4;
}

.old_value{
    /* грн/курс */

    position: absolute;
    width: 125px;
    height: 18px;
    left: 180px;
    top: 3684px;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    color: #B4B4B4;
}

.price3{
    /* 5950 */

    position: absolute;
    width: 184px;
    height: 81px;
    left: 336px;
    top: 3582px;
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 76px;
    color: #FF0000;

}

.value3{
/* грн/курс */
    position: absolute;
    width: 152px;
    height: 37px;
    left: 336px;
    top: 3682px;
    font-family: 'Judson';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 37px;
    color: #FF0000;
}

.button3{
    position: absolute;
    width: 237px;
    height: 85px;
    left: 530px;
    top: 3662px;
    background: #1CB65A;
    border-radius: 40px;
}

.p15{
    position: absolute;
    width: 158px;
    height: 46px;
    left: 45px;
    top: -15px;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 46px;
    color: #000000;
}

.frame6{
        background-color: #FFE376;
        margin: 0 auto;
        height: 1270px;
        width: auto;
}

.img_yellow{
    float: left;
    height: 700px;
    width: 650px;
    margin-top: 350px;
    margin-left: 250px;
}

.div_white4{
    height: 1270px;
    width: 742px;
    background-color: white;
    float: right;
    margin-right: 75px;
}

.line4{
    position: absolute;
    width: 644px;
    height: 2px;
    right: 133px;
    top: 4292px;
    background: #32BAA0;
}

.p16{
    /* 8 ТИЖНІВ, 32 ЗАНЯТТЯ СТАРТ: 12,05 | 9.06 */

    position: absolute;
    width: 273px;
    height: 69px;
    right: 114px;
    top: 3886px;
    font-family: 'Jost';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 35px;
    text-align: right;
    color: #32BAA0;
}

.p17{
/* ДИСТАНЦІЙНИЙ КУРС IELTS */

    position: absolute;
    width: 474px;
    height: 115px;
    left: 1166px;
    top: 3989px;
    font-family: 'Jost';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 58px;
    letter-spacing: 0.22em;
    color: #000000;
}

.p18{
/* 4 зан/ тижд. 1 ГОД 50 хв Графік: Пн - Чт на 9:10 | 18:20 Для рівнів Upper-Intermediate (B2) і вище */

    position: absolute;
    width: 566px;
    height: 144px;
    left: 1166px;
    top: 4158px;
    font-family: 'Jost';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 29px;
    color: #000000;
}

.p19{
    /* ДИСТАНЦІЙНО: онлайн курс англійської можна пройти з будь-якої точки світу ШВИДКО: повний курс підготовки всього за 8 тижнів ЕФЕКТИВНО: 32 заняття на платформі Smarte зі спеціалізованою підготовкою до всіх 4-х частин іспиту IELTS: Listening, Reading, Writing and Speaking ЗРУЧНО: керування нанням у додатку My Green Forest домашні завдання, успішність, тести, анна графіку, запис на клуби, підручник, сертифікат, бонуси і оплата ПРОФЕСІЙНО: більше 200 сучасних викладачів, які регулярно прокачують свою експертність в Green Forest Teaching Centre by Nadia Diachuk БЕЗКОШТОВНІ БОНУСИ: доступ до підручника Notes і онлайн тренажера Smarte+, додаткові уроки для самостійного навчання, розмовні клуби з носіями мови щотижня */

    position: absolute;
    width: 588px;
    height: 633px;
    left: 1166px;
    top: 4375px;
    font-family: 'Jost';
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    line-height: 140%;
    color: #000000;
    }

.price4{
/* 10500 */

    position: absolute;
    width: 239px;
    height: 76px;
    left: 1166px;
    top: 4851px;
    font-family: 'Georama';
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 76px;
    color: #000000;
}

.value4{
/* грн/курс */

    position: absolute;
    width: 154px;
    height: 33px;
    left: 1186px;
    top: 4951px;
    font-family: 'Judson';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 37px;
    color: #000000;
}

.button4{
    position: absolute;
    width: 237px;
    height: 85px;
    left: 1500px;
    top: 4940px;
    background: #1CB65A;
    border-radius: 40px;
}

.p20{
/* Записатись */

    position: absolute;
    width: 158px;
    height: 116px;
    left: 40px;
    top: -10px;
    font-family: 'Jost';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 46px;
    color: #000000;
}

.frame7{
    background-color: #38BA9A;
    height: 700px;
    width: auto;
    margin: 0 auto;
}

.img_15{
    float: right;
    padding-top: 100px;
    padding-right: 100px;
}


.p21{
    /* MY GREEN FOREST КОНТРОЛЬ ЗА НАВЧАННЯМ ЛЕГКО І ЗРУЧНО */
    position: absolute;
    width: 432px;
    height: 144px;
    left: 211px;
    top: 5304px;
    font-style: normal;
    font-weight: 1000;
    font-size: 45px;
    line-height: 49px;
    color: #FFFFFF;
}

.p22{
    position: absolute;
    width: 432px;
    height: 144px;
    left: 211px;
    top: 5440px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 40px;
    line-height: 49px;
    color: #000000;
}

.frame8{
    background-color: #F6F6F6;
    height: 700px;
    width: auto;
    margin: 0 auto;
}

.p23{
    /* NOTES BY GREEN FOREST УНІКАЛЬНА ІНТЕРАКТИВНА ΠΛΑΤΦΟΡМА ДЛЯ ВИВЧЕННЯ АНГЛІЙСЬКОЇ МОВИ */

    position: absolute;
    width: 476px;
    height: 140px;
    left: 1250px;
    top: 5975px;
    font-family: 'Jost';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 35px;
    color: #4CAF96;
}

.p24{
    position: absolute;
    width: 476px;
    height: 140px;
    left: 1250px;
    top: 6020px;
    font-family: 'Jost';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 35px;
    color: #000000;
}

.img_10{
/* image 10 */

    position: absolute;
    width: 854px;
    height: 652px;
    left: 0px;
    top: 5800px;

}

iframe{
    float: right;
}

.frame9{
    /* Frame 9 */
    position: relative;
    width: 0 auto;
    height: 696px;
    background: #EF706D;
}

.p25{
    /* Велика школаВеликі можливості */

    position: absolute;
    width: 567px;
    height: 160px;
    left: 100px;
    top: 278px;
    font-family: 'Judson';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 56px;
    color: #FFFFFF;
}