

.frame3{
    background-color: #F0C0DA;
    margin: 0 auto;
    height: 1270px;
    width: auto;
}
.div_white{
    height: 1270px;
    width: 742px;
    background-color: white;
    float: left;
    margin-left: 75px;
}

.img_pink{
    float: right;
    height: 500px;
    width: 550px;
    margin-top: 450px;
    margin-right: 250px;
}

.p1{
    /* 4 МІСЯЦІ, 50 ЗАНЯТЬ СТАРТ: 7.05 4.06 */
    position: absolute;
    width: 273px;
    height: 69px;
    right: 1100px;
    top: 33px;
    font-family: 'Jost';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 35px;
    text-align: right;
    color: #32BAA0;
}

.line{
/* Rectangle 12 */

    position: absolute;
    width: 570px;
    height: 2px;
    left: 188px;
    top: 489px;
    background: #32BAA0;

}

.p2{
    /* ДИСТАНЦІЙНИЙ КУРС СТАНДАРТ */
    position: absolute;
    width: 474px;
    height: 115px;
    left: 188px;
    top: 122px;
    font-family: 'Jost';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 58px;
    letter-spacing: 0.22em;
    color: #000000;
}

.p3{
    /* 3 зан/ тижд. 1 год 30 хв 2 Communication Classes: Пн/Ср або Вт/чт 1. Grammar Class: Пт або Сб Графік: 8:10 19:10 19:50 | 10:50 | 15:00 | 16:40 | 18:20 | 20:00 1 рівень 1 курс */

    position: absolute;
    width: 566px;
    height: 144px;
    left: 188px;
    top: 300px;
    font-family: 'Jost';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 29px;
    color: #000000;
}
.p4{
    /* ДИСТАНЦІЙНО: онлайн курс англійської можна пройти з будь-якої точки світу ЕФЕКТИВНО: цілий рівень за 4 місяці навчання в групах в атмосфері реального заняття у класі ВИГІДНО: 133 грн за 1 год навчання ТЕХНОЛОГІЧНО: навчання в групах за програмою власного інтерактивного підручника обез на платформі Sтагтя, відпрацюванн Smarte+ ЗРУЧНО: керування нанням у додатку My Green Forest домашні завдання, успішність, тести, анна графіку, запис на клуби, підручник, сертифікат, бонуси і оплата ПРОФЕСІЙНО: більше 200 сучасних викладачів, які регулярно прокачують свою експертність в Green Forest Teaching Centre by Nadia Diachuk БЕЗКОШТОВНІ БОНУСИ: доступ до підручника Notes і онлайн тренажера Smarte+, 40 год занять для самостійного навчання, розмовні клуби з носіями мови щотижня */

    position: absolute;
    width: 588px;
    height: 633px;
    left: 188px;
    top: 532px;
    font-family: 'Jost';
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    line-height: 140%;
    /* or 27px */
    color: #000000;
}

.price{
    /* 10500 */

    position: absolute;
    width: 239px;
    height: 82px;
    left: 188px;
    top: 1000px;
    font-family: 'Georama';
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 76px;
    color: #000000;
    }

.value{
/* грн/курс */

position: absolute;
width: 154px;
height: 33px;
left: 205px;
top: 1100px;
font-family: 'Judson';
font-style: normal;
font-weight: 700;
font-size: 32px;
line-height: 37px;
color: #000000;
}    

.button{
/* Rectangle 6 */

    position: absolute;
    width: 237px;
    height: 85px;
    left: 489px;
    top: 1090px;
    background: #1CB65A;
    border-radius: 40px;

}

.p5{
    /* Записатись */

position: absolute;
width: 158px;
height: 46px;
left: 45px;
top: -15px;
font-family: 'Jost';
font-style: normal;
font-weight: 400;
font-size: 32px;
line-height: 46px;
color: #000000;
}

.frame4{
    background-color: #32B89E;
    margin: 0 auto;
    height: 1270px;
    width: auto;
}

.img_blue{
    float: left;
    height: 700px;
    width: 550px;
    margin-top: 350px;
    margin-left: 250px;
}

.div_white2{
    height: 1270px;
    width: 742px;
    background-color: white;
    float: right;
    margin-right: 75px;
}