*{
    font-family:'Jost';
}
header{
    display:flex;
    justify-content: space-between;
}
#header_div{
    display:flex;
    flex-wrap:nowrap;
}
#frame1_bg{
    position: absolute;
    width:100%;
    top: 58%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
}
#frame1_content{
    display:flex;
    justify-self:left;
    align-self: center;
    justify-content:center;
    flex-direction:column;
    margin-top: 331px;
    text-align:center;
}
#frame1_txt1{
    position: absolute;
    width: 600px;
    height: 82px;
    left: 43px;
    top: 300px;
    font-family: 'Jost';
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
}
#frame1_txt2{
    position: absolute;
    width: 400px;
    height: 113px;
    left: 114px;
    top: 423px;
    font-family: 'Jost';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
}
#frame1_btn{
    position: absolute;
    width: 250px;
    height: 77px;
    left:230px;
    top:700px;
    background: #FFFFFF;
    border-radius: 38.5px;
    font-size:40px;
}
#btn_txt{
    position: absolute;
    left:28px;
    top:-32px;
}
#frame1_phone{
    display:flex;
    justify-content: center;
    align-content: center;
    position: absolute;
    width: 90px;
    height: 90px;
    left: 93%;
    top: 70%;
    z-index:2;
    border-radius:100%;
    background: #1CB65A;
    position:fixed;
}
#frame1_chat{
    display:flex;
    justify-content: center;
    align-content: center;
    position: absolute;
    width: 90px;
    height: 90px;
    left: 93%;
    top: 85%;
    z-index:2;
    border-radius:100%;
    background: #1CB65A;
    position:fixed;
}
#frame2_sidebar{
    position: absolute;
    width: 173px;
    height: 739px;
    left: 90.9%;
    top: 977px;
    background: #EF706D;
}
#frame2_p1{
    position: absolute;
    width: 1057px;
    height: 243px;
    left: 10%;
    top:1000px;
    font-family: 'Jost';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 52px;
}
#frame2_p2{
    position: absolute;
    width: 961px;
    height: 296px;
    left: 10%;
    top: 1200px;
    font-family: 'Jost';
    font-style: normal;
    font-weight: 700;
    font-size: 58px;
    line-height: 84px;
}
#frame2_p3{
    position: absolute;
    width: 756px;
    height: 92px;
    left: 9.5%;
    top: 1550px;
    font-family: 'Jost';
    font-style: normal;
    font-weight: 800;
    font-size: 32px;
    line-height: 46px;
    color: #32BAA0;
}
